*{
    padding: 0;
    margin: 0;
}

:root{
    --primary-color:#3A3A3A;
    --secondary-color-btn:#E02C6D;
}
body{
    max-width: 1280px;
    margin: 0 auto;
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 50px 120px;
}
.heading-name{
    font-size: 1.5rem;
    font-weight: bold;
    color: var(--primary-color);
}
.links{
    display: flex;
    justify-content: center;
    align-items: center;
}
.links li{
    list-style: none;
    margin-left: 34px;
}
.links li a{
    text-decoration: none;
    font-weight: 600;
    color:var(--primary-color);
}
i{
    color: black;
    font-size: 20px;
}
.journey{
    display: flex;
    justify-content: space-between;
    margin: 0 120px;
}
.journey-section{
    margin-top: 145px;
    max-width: 582px;
}

.camera-div{
    border: 1px solid rgb(211, 206, 206);
    border-radius: 50%;
    padding: 10px;
    max-width: 529px;
    max-height: 414px;

}
.camera-div img{
    max-width: 100%;
    max-height: 100%;
  }
.journey-title{
    font-size: 3.25rem;
    color: var(--primary-color);
    font-weight: bold;
   
}
.journey-description{
    margin: 16px 0;
    color: var(--primary-color);
    font-weight: 600;
}
.prebook-btn{
    padding: 10px 24px;
    color: #ffffff;
    background-color: var(--secondary-color-btn);
    font-weight: bold;
    border-radius: 41px;
    border: none;
}
.prebook-btn i{
    color: #ffffff;
    font-size: 14px;
    margin-top: 5px;
    margin-left: 5px;
}
.company-logo{
    margin: 100px 165px;
    display: grid;
    grid-template-columns: repeat(6,1fr);
    gap: 61px;
    padding: 41px 62px 37px 62px;
    border: 1px solid rgb(243, 230, 230);
    align-items: center;
    justify-content: center;
}
.company-logo img{
    max-width: 90px;
    max-height: 35px;
}
.collection-heading{
    text-align: center;
    font-size: 1.75rem;
    font-weight: 600;
    color: var(--primary-color);
    margin-top: 100px;
}
.popular-collection-section{
    margin: 24px 196px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}
.collection-card{
    max-width:100%;
    padding: 17px 15px;
    box-shadow: 0 0 40px 0 rgba(0, 0, 0, 0.15);
    border-radius: 5px;
}
.collection-card img{
    width: 100%;
  
}
.collection-title{
    margin-top: 16px;
    margin-bottom: 14px;
    font-size: 1.75rem;
    font-weight: 500;
}
.fa{
    color:orange;
    margin: 8px 0;
}
.rating{
    margin-left: 10px;
}
.collection-description{
    font-size: 0.9rem;
    color: var(--primary-color);
    font-weight: bold;
}
.feature-section{
    margin: 100px 165px;
    display: flex;
    gap: 65px;
}
.feature-product{
    margin-top: 23px;
}
.products-title{
    font-size: 2.3rem;
    font-weight: bold;
    color: #0A0826;
}
.products-details{
    margin: 16px 0;
    color: var(--primary-color);
    font-weight: bold;
}
.now{
    border-radius: 0;
}
footer{
    background-color: #0A0826;
}
.footer-section{
    text-align: center;
    padding: 50px;
   

}
.footer-title{
    font-size: 1.5rem;
    font-weight: bold;
    color: #ffffff;
}
.footer-description, .copy{
    font-size: 0.9rem;
    font-weight: bold;
    color: #D9DBE1;
    margin: 3px 0 15px 0;


}
.copy{
    margin: 3px 0 15px 0;
}
.footer-icon{
    margin-top: 17px;
}
.footer-icon .fa-brands {
    color: #ffffff;
    border: 1px solid #ffffff;
    border-radius: 50%;
    padding: 5px;
    background-color: #0a0428;
    margin: 0 5px;
}

@media screen and (max-width: 576px) {
    .navbar,
    .links,
    .journey{
        flex-direction: column;
    }
    .navbar,
    .journey{
        margin: 0px 0;
        text-align: center;
    }
    .links li{
        margin: 10px 0;
    }
    .camera-div img{
        max-width: 100%;
        max-height: 100%;
    }
    .popular-collection-section
    {
        
       margin: 0;
        grid-template-columns: repeat(1, 1fr);
        padding: 10px;
        
    }
    .company-logo{
    grid-template-columns:repeat(2,1fr);
    margin: 0;
        
    }
    .company-logo img{
        width: 100%;
        
    }
    .feature-section{
     margin: 0px 0px;
      flex-direction: column;
      padding: 10px;
    
    }
    .collection-card{
        max-width: 100%;
    }
    .collection-card img{
        width: 100%;
    }
    .camera-div{
       
        padding: 10px;
 
    }
    .btn{
        text-align: center;
    }
}